:root {
    --footer-height: 200px;
}

html, body {
    height: 100%;
}

#main_body {
    min-height: calc(100% - var(--footer-height));
}

.content {
    width: 80%;
}
.side {
    width: 20%;
}

.title {
    text-decoration: none;
    color: darkcyan;
}

.section {
    display: flex;
}

.footer{
    background-color: black;
    height: var(--footer-height);
}

.footer_links > a{
    display: block;
    text-decoration: none;
}

#footer_hr {
    background-color: black;
    width: 80%;
    margin: 10px auto;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top:5px dotted blue;
}
#footer_icons {
    text-align: center;
}
#footer_icons a i {
    color: #fff;
    margin: 0 10px;
}

@media screen and (max-width: 600px) {
    .content {
        width: 70%;
    }
    .side {
        width: 30%;
    }

}