
:root {
    --footer-height: 200px;
}
html,
body {
    height: 100%;
}
#main-container {
    min-height: calc(100% - var(--footer-height));
}
.blog-logo {
    width: 200px;
    height: 100px;
}
.logo {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: snow;
    transition: all 0.8s ease;
    font-family: amperzand;
    text-shadow: 2px 2px 5px gray;
}
.logo:hover {
    transform: scale(1.2);
    color: blue;
    font-weight: bold;
}
.navbar_links a {
    font-size: 1.5rem;
    color: #fff;
    padding: 5px 18px;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 255, 221, 0.884);
}
.navbar_links a:hover {
    color: white;
    text-shadow: 0 0 10px rgba(0, 255, 221, 0.884),
                0 0 20px rgba(0, 255, 221, 0.884),
                0 0 40px rgba(0, 255, 221, 0.884);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.content {
    padding: 30px;
}

.section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 85%;
    margin: 0 auto;
}
/* Saytning postlar joylashadigan qismi  */
.post {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    color: darkslategray;
}
.post::after {
    content: "";
    clear: both;
}
.post:not(:first-child) {
    margin-top: 2rem;
}

.pub-date {
    color: rgb(211, 210, 208);
}
.title {
    margin-bottom: -13px;
    font-family: cursive;
}
.title a {
    text-decoration: none;
    color: skyblue;
}
#pagination {
    font-size: 1.2rem;
    text-align: right;
    margin-top: 1.8rem;
}
#pagination a {
    text-decoration: none;
    color: turquoise;
}
.footer {
    height: var(--footer-height);
    background-color: darkturquoise;
}

.footer_links a {
    font-size: 1.2rem;
    color: #fff;
    padding: 5px 18px;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 255, 221, 0.884);
}

#footer_hr {
    background-color: inherit;
    width: 80%;
    margin: 10px auto;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 5px dotted blue;
}
#footer_icons {
    text-align: center;
}
#footer_icons a i {
    color: #fff;
    margin: 10px 15px;
    transition: all 1s ease;
}
#footer_icons a i:hover {
    transform: rotate(360deg) scale(1.5);
}
@media screen and (max-width: 600px) {
    nav form {
        margin-top: 10px;
    }

    .content {
        width: 70%;
    }
    .side {
        width: 30%;
    }
}
@media screen and (max-width: 400px) {
    .content {
        width: 60%;
    }
    .side {
        width: 40%;
    }
}

/* Read More tugmachalariga ishlov berish */
.btn-read {
    float: right;
    text-decoration: none;
    position: relative;
	/* display: inline-block; */
	padding: 4px 8px;
	border: 1px solid #0f0;
	font-weight: 600;
	transition: 0.5s;
    color: darkcyan;
}

.btn-read:hover {
	transition-delay: 1.5s;
	color: #000;
	box-shadow: 0 0 5px rgba(0, 255, 0, 0.2),
				0 0 10px rgba(0, 255, 0, 0.4),
				0 0 40px rgba(0, 255, 0, 0.5);
}
.btn-read span {
	position: relative;
	z-index: 1;
}
.btn-read:before {
	content: "";
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 2px;
	background-color: #0f0;
	box-shadow: 5px -8px #0f0, 
				5px 8px #0f0;
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	transition-delay: 1s, 0.5s, 0s, 0s;
}
.btn-read:hover:before {
	width: 60%;
	height: 100%;
	left: -2px;
	box-shadow: 5px 0 #0f0,
				5px 0 #0f0;
	transition-delay: 0s, 0.5s, 1s, 1s;

}

.btn-read:after {
	content: "";
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 2px;
	background-color: #0f0;
	box-shadow: -5px -8px #0f0, 
				-5px 8px #0f0;
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	transition-delay: 1s, 0.5s, 0s, 0s;
}
.btn-read:hover:after {
	width: 60%;
	height: 100%;
	right: -2px;
	box-shadow: -5px 0 #0f0,
				-5px 0 #0f0;
	transition-delay: 0s, 0.5s, 1s, 1s;

}


/* Right side of site */
.list-box{
	border-bottom: 20px solid #03a9f4;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.list-box h3 {
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
    margin-bottom: 0;
	font-size: 20px;
	font-weight: 700;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.list-box div a {
    text-decoration: none;
    color: #000;
    display: block;
	padding: 10px;
    width: 100%;
	background: #fff;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
	transition: transform 0.5s;
}
.list-box div a:hover {
	transform: scale(1.1);
	z-index: 10;
	background: #25bcff;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	color: #fff;
}

.list-box div a span {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: #25bcff;
	color: #fff;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 600;
	transform: translateY(-2px);
}
.list-box div a:hover span {
	background: #fff;
	color: #25bcff;
}

.search-form {
    position: absolute;
    top: 6.5rem;
    right: 5rem;
}